/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

 .logo {
 padding: 8px 0 0 0;
}
.nav-color{
  background: #263238;
}

.copyrightbottom { background: #263238; padding: 15px 0; color: #969ba4 }

.Site {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}

.Site-content {
 flex: 1;
}

.btn {
 height: 34px;
 font: bold;
 display: inline-block;
 font-family: FontAwesome;
 font-style: normal;
 font-weight: normal;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
}

.stand{
 padding-left: 5px;
}

.stand-price{
 padding-left: 10px;
}

.btn-padding{
 padding-top: 10px;
}
.footersocial{
  background-color: #384248;
  color: white;
}

.ul-color{
  color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
